<p><a class="list-group-item btn hover-yellow-link" asp-area="admin" asp-controller="Product" asp-action="Index">Products</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-area="admin" asp-controller="Customer" asp-action="Index">Customer</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-area="admin" asp-controller="Category" asp-action="Index">Categorys</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-area="admin" asp-controller="Unit" asp-action="Index">Units</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-area="admin" asp-controller="StateProvince" asp-action="Index">StateProvinces</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-area="admin" asp-controller="City" asp-action="Index">Citys</a></p>