@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
	<p>About me <a target="_blank" href="https://Linqe.ir/EhsanNozari/16">Ehsan Nozari</a>.</p>
</div>

<div class="text-center">
	<h1 class="display-4">Test Products</h1>
	<p><a asp-controller="Product" asp-action="Index">Products</a></p>
</div>

<div class="text-center">
	<h1 class="display-4">Test Units</h1>
	<p><a asp-controller="Unit" asp-action="Index">Units</a></p>
</div>
