@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>About me <a target="_blank" href="https://Linqe.ir/EhsanNozari/16">Ehsan Nozari</a>.</p>
</div>

<partial name="_MainMenu" />
