<p><a class="list-group-item btn hover-yellow-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-route="Home">Store</a></p>