@model SampleProjects.Models.ViewModels.ProductModel

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Product</h1>

<h4>Product</h4>
<hr />

@{
	await Html.RenderPartialAsync("_CreateOrUpdate", Model);
}